
body {
  background: #fff;
  color: #666666;
  font-family: mongolian_white, sans-serif;
  max-width: 100%;
}



a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4{
  font-family: mongolian_White, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}




#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../FondoCofiem.png) top center fixed;
  background-size: cover;
}

#hero .hero-container {
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}


#hero h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
}

#hero .actions a {
  position: relative;
  top: 250px;
  font-family: mongolian_white, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 30px;
}

#hero .btn-get-started {
  background: #03C4EB;
  border: 2px solid #03C4EB;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #03C4EB;
  border: 2px solid #03C4EB;
}


#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}


.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}


.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;

}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}


.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-family: Mongolian_white;
  font-weight: 300;
  font-size: 1.4em;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a, .nav-menu .menu-active > a {
  color: #03C4EB;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}





body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
  color: #fff;
}




#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container {
  background: url(../medicine.jpg) no-repeat;
  background-size: 600px;
  height: 500px;
}

#about .about-content {
  background: #fff;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 26px;
  font-size: 1.5em;
  position: absolute;
  left: 30px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #03C4EB;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}


.mision-vision{
  margin-left: 500px;
  text-align: center;
  transform: translateX(-20%);
  display: flex;
  flex-direction: row;
}
.mision{text-align:  center;
  margin: 0 20px;
  max-width:100%;
  width: 600px;
  margin-bottom: 100px;
  font-size: 1.5em;
}
.vision{
  text-align:  center;
  margin: 0 20px;
  max-width:100%;
  width: 600px;
  margin-bottom: 100px;
  font-size: 1.5em;
}


#contact .form button[type="submit"] {
  background: #03C4EB;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #25d8fc;
}


#footer {
  background: #111;
  padding: 30px 0;
  color: #fff;
}


#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}
